body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}
h1, h2 {
    color: #333;
}
.section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.formula, .matrix {
    display: block;
    margin: 10px 0;
    padding: 10px;
    font-size: 1.2em;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.input{
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 50px;
    font-size: 1.2em;
    border: 1px solid #ccc;
    border-radius: 4px;
}



.graph {
    width: 70%; /* 幅を指定します。必要に応じて調整してください。 */
    margin: 0 auto; /* 左右のマージンを自動に設定して中央揃えにします。 */
    border: 1px solid black; /* 視覚的に確認できるようにボーダーを追加します。 */
    padding: 20px; /* パディングを追加してコンテンツからスペースを確保します。 */
    text-align: center; /* オプション：コンテンツを中央揃えにします。 */
}
.node {
    fill: lightgray;
    stroke: black;
    stroke-width: 2px;
    cursor: pointer;
}
.highlighted-akane {
    fill: salmon;
}
.highlighted-aoi {
    fill: skyblue;
}



.button_div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    font-size: 30px;
}
.center-text {
    text-align: center;
    font-size: 24px; /* 少し大きめのフォントサイズ */
}