@font-face {
    font-family: 'GonunneFont';
    src: url('/website01/root_static/font/GonunneFont.otf') format('opentype'),
}
@font-face {
  font-family: 'ArkaFont';
  src: url('/website01/root_static/font/alblant.ttf') format('opentype'),
}

.gonunne {
  font-family: 'GonunneFont', sans-serif;
}
.arka {
  font-family: 'ArkaFont', sans-serif;
}

body {
  background-image: url("/website01/root_static/images/old_paper.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}



/* スタイルの追加 */
.OneDayContainer {
  display: flex;
  align-items: center;
  font-family: 'GonunneFont', sans-serif;
}

/* 画像のスタイル */
.OneDayContainer img {
  max-width: 50%; /* 画像が親要素内で最大の幅に収まるように */
  margin-right: 20px; /* 画像と文章の間にスペースを設定 */
}

/* 空白 */
.mb5 {
  margin-bottom: 5em;
}