@font-face {
    font-family: 'GonunneFont';
    src: url('https://hal7000-s.github.io/website01/font/GonunneFont.otf') format('opentype'),
}
@font-face {
  font-family: 'ArkaFont';
  src: url('https://hal7000-s.github.io/website01/font/alblant.ttf') format('opentype'),
}

.gonunne {
  font-family: 'GonunneFont', sans-serif;
}
.arka {
  font-family: 'ArkaFont', sans-serif;
}
.test{
  font-family: 'ArkaFont', sans-serif;
  color:blue;
}